<%- include('../partials/header') %>
    <section>
        <h2>Relatório de Não Conformidade</h2>
        <h3>Criado por: <%= typeof resultadoHeader.usuario_id !== 'undefined' ? resultadoHeader.usuario_id : 'N/A' %></h3>
        <h3>Site: <%= typeof resultadoHeader.site_id !== 'undefined' ? resultadoHeader.site_id : 'N/A' %></h3>
        <h3>Altura da Torre: <%= typeof resultadoHeader.altura_torre !== 'undefined' ? resultadoHeader.altura_torre : 'N/A' %></h3>
        <h3>Tipo do Cadeado: <%= typeof resultadoHeader.tipo_cadeado !== 'undefined' ? resultadoHeader.tipo_cadeado : 'N/A' %></h3>
        <h3>Tipo da Estrutura: <%= typeof resultadoHeader.tipo_estrutura !== 'undefined' ? resultadoHeader.tipo_estrutura : 'N/A' %></h3>
        <h3>CEP: <%= typeof resultadoHeader.CEP !== 'undefined' ? resultadoHeader.CEP : 'N/A' %></h3>
        <h3>Endereço: <%= typeof resultadoHeader.endereco !== 'undefined' ? resultadoHeader.endereco : 'N/A' %></h3>
        <h3>Município: <%= typeof resultadoHeader.municipio !== 'undefined' ? resultadoHeader.municipio : 'N/A' %></h3>
        <h3>UF: <%= typeof resultadoHeader.UF !== 'undefined' ? resultadoHeader.UF : 'N/A' %></h3>
        <h3>Criado em: <%= typeof resultadoHeader.created_at !== 'undefined' ? resultadoHeader.created_at : 'N/A' %></h3>
        <h3>Status: <%= typeof resultadoHeader.status !== 'undefined' ? resultadoHeader.status : 'N/A' %></h3>
        <button id="idRelatorio" class="btn-env-relatorio">Enviar</button>
    </section>
    <main>
        <div id="galeria">
            <% resultadoBody.forEach(function(item) { %>
                <!-- Se editar aqui, editar tambem no js main.js -->
                <img src="<%= item.caminhoDaImagem %>" alt="Imagem da não conformidade">
                <p><%= item.descricao %></p>
            <% }); %>
            <!-- Fotos serão exibidas aqui dinamicamente -->
        </div>
        <form id="formUpload" data-relatorio="<%= idRelatorio %>">
            <label for="arquivoInput">Tire uma foto e adicione uma descrição:</label>
            <input type="file" id="arquivoInput" accept="image/png, image/jpeg, image/jpg" name="arquivo" required>
            <label for="descricao">Descrição:</label>
            <textarea id="descricao" name="descricao" placeholder="Relate a não conformidade..."></textarea>
            <!-- Colocar um pop com switch alert no button para não enviar varias fotos de uma vez (Colocar um para ficar carregando enquanto não recebeu a informação no banco) -->
            <button type="submit">Enviar Imagem</button>
        </form>
    </main>
<%- include('../partials/footer') %>
