<%- include('../partials/header') %>
    <section>
        <h2>Relatório de Não Conformidade</h2>
        <h3>Criado por: <%= typeof resultadoHeader.usuario_id !== 'undefined' ? resultadoHeader.usuario_id : 'N/A' %></h3>
        <h3>Site: <%= typeof resultadoHeader.site_id !== 'undefined' ? resultadoHeader.site_id : 'N/A' %></h3>
        <h3>Altura da Torre: <%= typeof resultadoHeader.altura_torre !== 'undefined' ? resultadoHeader.altura_torre : 'N/A' %></h3>
        <h3>Tipo do Cadeado: <%= typeof resultadoHeader.tipo_cadeado !== 'undefined' ? resultadoHeader.tipo_cadeado : 'N/A' %></h3>
        <h3>Tipo da Estrutura: <%= typeof resultadoHeader.tipo_estrutura !== 'undefined' ? resultadoHeader.tipo_estrutura : 'N/A' %></h3>
        <h3>CEP: <%= typeof resultadoHeader.CEP !== 'undefined' ? resultadoHeader.CEP : 'N/A' %></h3>
        <h3>Endereço: <%= typeof resultadoHeader.endereco !== 'undefined' ? resultadoHeader.endereco : 'N/A' %></h3>
        <h3>Município: <%= typeof resultadoHeader.municipio !== 'undefined' ? resultadoHeader.municipio : 'N/A' %></h3>
        <h3>UF: <%= typeof resultadoHeader.UF !== 'undefined' ? resultadoHeader.UF : 'N/A' %></h3>
        <h3>Criado em: <%= typeof resultadoHeader.created_at !== 'undefined' ? resultadoHeader.created_at : 'N/A' %></h3>
        <h3>Status: <%= typeof resultadoHeader.status !== 'undefined' ? resultadoHeader.status : 'N/A' %></h3>
        <button>Enviar</button>
    </section>
    <main>
        <% resultadoBody.forEach(function(foto) { %>
            <div class="foto-container">
                <img src="<%= foto.foto_path %>" alt="Foto do Relatório" class="foto-relatorio">
                <p class="descricao-foto"><%= foto.descricao %></p>
            </div>
        <% }); %>
        <button>Adicionar Não Conformidade</button>
    </main>
<%- include('../partials/footer') %>
