<div id="div-<%= item.id %>" class="col-12 col-sm-6 col-lg-4 item-conformidade">
    <div class="card h-100 shadow-sm">
        <img src="<%= item.caminhoDaImagem %>" alt="Imagem da não conformidade" class="card-img-top img-conformidade" style="height: 200px; object-fit: cover;">
        <div class="card-body">
            <p id="descricao-<%= item.id %>" class="card-text desc-conformidade"><%= item.descricao %></p>
            <div class="d-flex gap-2">
                <button id="editar-<%= item.id %>" data-relatorio="<%= idRelatorio %>" class="btn btn-accent btn-sm btn-editar flex-grow-1">Editar</button>
                <button id="excluir-<%= item.id %>" data-relatorio="<%= idRelatorio %>" class="btn btn-danger btn-sm btn-excluir flex-grow-1">Excluir</button>
            </div>
        </div>
    </div>
</div>